//Complement Col
.col-0-5 {
  flex: 0 0 auto;
  padding: 0.5rem;
  width: 4.1667%;
}

.col-0-7 {
  flex: 0 0 auto;
  padding: 0.5rem;
  width: 6.303%;
}

.col-0-9 {
  flex: 0 0 auto;
  padding: 0.5rem;
  width: 7.5%;
}

.col-1-5 {
  flex: 0 0 auto;
  padding: 0.5rem;
  width: 12.5%;
}

.col-5-4 {
  flex: 0 0 auto;
  padding: 0.5rem;
  width: 45%;
}

//Col Dashboard
.col-0-5-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 4.1667%;
}

.col-0-636-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 5.303%;
}

.col-0-7-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 6.303%;
}

.col-1-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 8.3333%;
}

.col-1-5-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 12.5%;
}

.col-1-625-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 13.5416%;
}

.col-1-8-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 15%;
}

.col-1-875-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 15.625%;
}

.col-2-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 16.6667%;
}

.col-2-25-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 18.75%;
}

.col-2-4-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 20%;
}

.col-2-5-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 20.8333%;
}

.col-3-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 25%;
}

.col-3-5-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 29.1667%;
}

.col-4-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 33.3333%;
}

.col-4-2-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 35%;
}

.col-4-5-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 37.5%;
}

.col-4-8-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 40%;
}

.col-5-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 41.6667%;
}

.col-5-5-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 45.8333%;
}

.col-5-7-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 48.6667%;
}

.col-6-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 50%;
}

.col-6-5-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 54.1667%;
}

.col-7-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 58.3333%;
}

.col-7-2-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 60%;
}

.col-7-5-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 62.5%;
}

.col-7-8-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 65%;
}

.col-8-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 66.6667%;
}

.col-8-5-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 70.8333%;
}

.col-9-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 75%;
}

.col-9-5-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 79.1667%;
}

.col-9-6-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 80%;
}

.col-9-75-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 81.25%;
}

.col-10-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 83.3333%;
}

.col-10-2-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 85%;
}

.col-10-5-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 87.5%;
}

.col-11-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 91.6667%;
}

.col-11-5-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 95.8333%;
}

.col-12-dashboard {
  flex: 0 0 auto;
  padding: 0.5vh;
  width: 100%;
}

//Col Scrolable Table
.col-0-5-scrollable-table {
  flex: 0 0 4.1667%!important;
}

.col-0-6-scrollable-table {
  flex: 0 0 5%!important;
}

.col-0-636-scrollable-table {
  flex: 0 0 5.45%!important;
}

.col-0-7-scrollable-table {
  flex: 0 0 5.82%!important;
}

.col-0-8-scrollable-table {
  flex: 0 0 6.6666%!important;
}

.col-0-9-scrollable-table {
  flex: 0 0 7.5%!important;
}

.col-1-scrollable-table {
  flex: 0 0 8.3333%!important;
}

.col-1-25-scrollable-table {
  flex: 0 0 10.4166%!important;
}

.col-1-5-scrollable-table {
  flex: 0 0 12.5%!important;
}

.col-1-6-scrollable-table {
  flex: 0 0 13.3333%!important;
}

.col-2-scrollable-table {
  flex: 0 0 16.6667%!important;
}

.col-2-25-scrollable-table {
  flex: 0 0 18.75%!important;
}

.col-2-5-scrollable-table {
  flex: 0 0 20.8333%!important;
}

.col-2-6-scrollable-table {
  flex: 0 0 21.6666%!important;
}

.col-2-7-scrollable-table {
  flex: 0 0 22.5%!important;
}


.col-3-scrollable-table {
  flex: 0 0 25%!important;
}

.col-3-2-scrollable-table {
  flex: 0 0 26.6666%!important;
}

.col-4-scrollable-table {
  flex: 0 0 33.3333%!important;
}

.col-4-5-scrollable-table {
  flex: 0 0 37.5%!important;
}

.col-4-6-scrollable-table {
  flex: 0 0 37.2444%!important;
}

.col-5-scrollable-table {
  flex: 0 0 41.6667%!important;
}

.col-6-scrollable-table {
  flex: 0 0 50%!important;
}

.col-7-scrollable-table {
  flex: 0 0 58.3333%!important;
}

.col-8-scrollable-table {
  flex: 0 0 66.6667%!important;
}

.col-9-scrollable-table {
  flex: 0 0 75%!important;
}

.col-10-scrollable-table {
  flex: 0 0 83.3333%!important;
}

.col-11-scrollable-table {
  flex: 0 0 91.6667%!important;
}

.col-12-scrollable-table {
  flex: 0 0 100%!important;
}