<form class="login-wrapper">
  <div class="login-form">
    <div class="top-buttons">
      <button
        *ngIf="theme=='light'"
        pButton 
        type="button"
        class="pi pi-moon"
        (click)="changeTheme()">
      </button>
      <button
        *ngIf="theme=='dark'"
        pButton 
        type="button"
        class="pi pi-sun"
        (click)="changeTheme()">
      </button>
    </div>
    <img [src]="'../../../assets/images/login/' + theme +'-logo.svg'">
    <div class="login-inputs">
      <div class="margin-top-2rem">
        <app-input-validator
          name="name"
          inputId="name"
          [variableFormControl]="name"
          [labelTitle]="'Usuário'"
          [labelErrorFirstValidator]="'Campo obrigatório'"
          [idFirstValidator]="'required'"
          [inputType]="'text'"
          [submited]="submited"
          [colSizeClass]="'col-12'">
        </app-input-validator>
      </div>

      <div class="margin-top-1-5rem">
        <app-input-validator
          [variableFormControl]="password"
          [labelTitle]="'Senha'"
          [labelErrorFirstValidator]="'Campo obrigatório'"
          [idFirstValidator]="'required'"
          [inputType]="'password'"
          [submited]="submited"
          [colSizeClass]="'col-12'">
        </app-input-validator>
      </div>
    </div>

    <div class="login-button">
      <div class="margin-top-1-5rem margin-bottom-1-5rem">
        <button 
          pButton 
          type="submit" 
          [label]="'Entrar'"
          class="col-12">
        </button>
      </div>
    </div>
  </div>
</form>
