<form class="login-wrapper">
  <div class="login-form">
    <p-dropdown [options]="[]" optionLabel="name"></p-dropdown>
    <div class="top-buttons">
      <button 
        *ngIf="theme=='light'"
        pButton pRipple
        type="button"class="pi pi-moon"
        (click)="changeTheme()">
      </button>
      <button 
        *ngIf="theme=='dark'"
        pButton pRipple
        type="button" class="pi pi-sun"
        (click)="changeTheme()">
      </button>
    </div>
    <img [src]="'../../../assets/images/login/' + theme +'-logo.svg'">
    <div class="login-inputs">
      <div class="margin-top-2rem">
        <app-input-validator
          name="name"
          inputId="name"
          [variableFormControl]="formControlUsername"
          [labelTitle]="translateService.translate('login.user')"
          [labelErrorFirstValidator]="labelRequiredUser"
          [idFirstValidator]="'required'"
          [inputType]="'text'"
          [submited]="submited"
          [colSizeClass]="'col-12'"
          (onBlur)="onBlurHandleInput()">
        </app-input-validator>
      </div>

      <div class="margin-top-1-5rem">
        <app-input-validator
          [variableFormControl]="formControlPassword"
          [labelTitle]="translateService.translate('login.password')"
          [labelErrorFirstValidator]="labelRequiredPassword"
          [idFirstValidator]="'required'"
          [inputType]="'password'"
          [submited]="submited"
          [colSizeClass]="'col-12'"
          (onBlur)="onBlurHandleInput()">
        </app-input-validator>
      </div>
    </div>

    <div class="login-button">
      <div class="margin-top-1-5rem margin-bottom-1-5rem">
        <button 
          pButton pRipple
          type="submit" class="col-12"
          [label]="translateService.translate('login.enter')"
          (click)="onClickHandleLogin()">
        </button>
      </div>
    </div>
  </div>
</form>
